@import "styles/variables.scss";

.homepage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .row {
    display: flex;
    position: relative;
    
    .sm-square {
      width: 100vw;
      height: 100vw;
  
      @media (min-width: 500px) {
        width: 50vh;
        height: 50vh;
      }
    }
  
    .lg-square {
      height: 100vw;
      flex: 1;
      transition: transform $transitionSlow, height $transitionSlow;

      @media (min-width: 500px) {
        height: 50vh;
      }

      &.show {
        height: 100vh;
        width: calc(100% - 50vh);
        position: absolute;
        right: 0;
        transform: translateY(-50%) !important; // to overwrite the transform style that framer-motion sets on the element
      }
    }
  }

  .finder-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}